@media only screen and (min-width: 375px) {
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 10rem;
  }
  .navBar .logoUser {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 66%;
    box-shadow: 0.5px 0.5px 4px #80808082;
  }
  .navBar button {
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    cursor: pointer;
  }

  .navBar .userMenu {
    margin-top: -0.2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 0.3rem;
    position: absolute;
    top: 3.7rem;
    right: .4rem;
    z-index: 2;
    backdrop-filter: blur(14.5px);
    box-shadow: 6px 2px 5px #2e302e7a;
  }

  .navBar .userMenu > a {
    width: 100%;
    display: block;
    color: black;
    padding: 1rem 1.5rem;
    /* border-bottom: 0.1px solid rgb(46 110 139 / 26%); */
    text-align: start;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .navBar .userMenu > a > svg {
    height: 1rem;
    width: 1rem;
    margin: 0;
    margin-right: 1rem;
  }

  .navBar .userMenu > a:last-child {
    border-bottom: none;
  }

  .navBar .closeDiv1 {
    position: absolute;
    width: 101vw;
    height: 90vh;
    top: 30vh;
    right: 0;
  }

  .navBar .closeDiv2 {
    width: 76vw;
    height: 18vh;
    position: absolute;
    top: 11vh;
    right: 28vw;
  }
  .navBar .userMenu > a:hover {
    background-color: rgba(184, 184, 184, 0.212);
  }
}

@media only screen and (min-width: 425px) {
  .navBar .userMenu {
    margin-top: -0.5rem;
  }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .navBar .userMenu {
    margin-left: -5rem;
  }
}

@media only screen and (min-width: 991px) {
}

@media only screen and (min-width: 1024px) {
  .navBar .userMenu {
    width: 13rem;
    margin-top: 1.2rem;
    margin-left: -6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .navBar .userMenu {
    margin-top: 0.5rem;
  }
}

@media only screen and (min-width: 2560px) {
}
